@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #E8EDDF;
  color: #242423;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #CFDBD5;
  padding: 60px 40px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(36, 36, 35, 0.15);
  text-align: center;
  max-width: 700px;
  width: 90%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: #242423;
}

.cursor {
  font-size: 7rem;
  margin-left: 5px;
  animation: blink 0.6s step-end infinite;
  color: #F5CB5C;
}

@keyframes blink {
  50% { opacity: 0; }
}

#slogan {
  font-size: 1.2rem;
  margin: 10px 0 30px;
  color: #333533;
  line-height: 1.4;
}

.start-button {
    font-family: 'Roboto Mono', monospace;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #F5CB5C;
  color: #242423;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.start-button:hover {
  background-color: #e6b94a;
  transform: translateY(-2px);
}

.start-link {
  text-decoration: none;
}
